@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Outfit", "Roboto", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  body {
    @apply bg-[#030014] text-gray-100 antialiased selection:bg-purple-500/30 font-sans;
  }
}
